<div class="header">
    <div class="row">
        <div class="col s4">
           <h2>FuNC DISCOGS<small>reader</small></h2>
        </div>  
        <div class="col s8">
            <div class="row">
                 <form name="search_form">
                <div class="col s3">
                    <label for="search_type">Search by..</label>
                    <select id="search_type" name="search_type" ng-model="$ctrl.search.type">
                        <option ng-repeat="option in $ctrl.selectOptions" value="{{ option.value }}">{{ option.name }}</option>
                    </select>
                </div>
                 <div class="col s3">
                    <label for="search_year">Year:</label>
                    <input id="search_year" type="year" name="search_year" ng-model="$ctrl.search.year" placeholder="yyyy" min="1890" max="{{$ctrl.currentYear}}" />
                </div>
                <div class="col s4">
                    <label for="search_genre">Genre:</label>
                    <input id="search_genre" type="year" name="search_genre" ng-model="$ctrl.search.genre" />                    
                    <label for="search_country">COuntry:</label>
                    <input id="search_country" type="year" name="search_country" ng-model="$ctrl.search.country" />
                </div>
                <div class="col s2">
                    <button>Find it!</button>
                </div>  
                 </form>              
        </div>  
    </div>
</div>
        