<div>
    <img class="artist-img" ng-src="{{ $ctrl.artist.images[0].uri }}" alt="{{ $ctrl.artist.id }}" style="height: 200px; width: 200px"
    />
    <h1>{{$ctrl.artist.name}}</h1>
    <p>{{$ctrl.artist.profile}}</p>

    <h2>Releases :</h2>
    <div ng-repeat="release in $ctrl.releases.releases">
        <img class="artist-img" ng-src="{{release.thumb}}" alt="album image" style="height: 100px; width: 100px">
        <strong>Title : </strong>{{release.title}}<br>
        <strong>Nombre de morceaux : </strong>{{release.format}}<br>        
        <strong>Year : </strong>{{release.year}}<br>
        <strong>Label : </strong>{{release.label}}<br>
        <hr>
    </div>
</div>