/*header */
.header {
    padding: 20px;
    background: #2a2b33;
    border-bottom: 2px solid #5c5f72;
}
.header h2 {
    font-size: 28px;
    font-weight: bold;
    color: #50909b;
}
select {
    display: block;
}
h5 {
    font-size: 16px;
}
.home-wrapper {
    background: #c1c1C1;
    padding: 12px;
}
.artist-block {
    height: 600px;
    background: #535a66;
    color: #fff;
    text-align: center;
}
.img-wrapp {
    display: block;
    width: 92%;
    max-height: 150px;    
    margin: 20px auto;
    overflow: hidden;
}
.artist-img {
    display: block;
    width: inherit;
    margin: 0 auto;
}