<img class="release-img" ng-src="{{$ctrl.label.images[0].uri}}" alt="Aucune image disponible" style="height: 200px; width: 200px">
<h1 style="color: red;">{{$ctrl.label.name}}</h1>
<h3>Description :</h3>
<p>{{$ctrl.label.profile}}</p>
<h2>Images :</h2>
<div ng-repeat="image in $ctrl.label.images">
    <img class="release-img" ng-src="{{image.uri}}" alt="label image" style="height: 200px; width: 200px">
</div>

<h2>Discographie</h2>
<hr>
<div ng-repeat="release in $ctrl.releases.releases">
    <span ng-hide="{{release.format == null}}"> 
        <img class="artist-img" ng-src="{{release.thumb}}" alt="album image" style="height: 100px; width: 100px">
    </span>
    <strong>Title : </strong>
    <a ui-sref="release({ id : release.id })">{{release.title}}</a><br>
    <span ng-hide="{{release.format == null}}">
        <strong>Nombre de morceaux : </strong>{{release.format}}<br>
    </span> 
    <span ng-hide="{{release.year == null}}">
        <strong>Year : </strong>{{release.year}}<br>
    </span> 
    <strong>Artiste : </strong><a ui-sref="artist({ id : release.id })">{{release.artist}}</a><br>
    <hr>
</div>